<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FABPIK ECOM</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>21/05/15 18:42:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest_001.loginTest()[pri:0, instance:com.fabpik.testCases.TC_LoginTest_001@31ef45e3]">loginTest</td> 
  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>21/05/15 18:41:39</td>   <td>-60798</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.fabpik.testCases.TC_LoginTest_001@31ef45e3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>21/05/15 18:42:42</td>   <td>1359</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.fabpik.testCases.TC_LoginTest_001@31ef45e3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
</table>
