<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FABPIK ECOM SUITE</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>21/06/15 17:19:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.fabpik.testCases.TC_Login_PlaceOrder@598067a5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>21/06/15 17:21:03</td>   <td>72393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login_PlaceOrder.login_placeorder()[pri:0, instance:com.fabpik.testCases.TC_Login_PlaceOrder@598067a5]">login_placeorder</td> 
  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>21/06/15 17:22:01</td>   <td>130777</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.fabpik.testCases.TC_Login_PlaceOrder@598067a5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
</table>
